/G50/dani0105/proyectos/java/Postal/nbproject/private/
/G50/dani0105/proyectos/java/Postal/build/
/G50/dani0105/laboratorio/Laboratorio 4/Laboratorio 3/nbproject/private/
/G50/dani0105/laboratorio/Laboratorio 4/Laboratorio 3/build/
/G50/dani0105/examen/ejercicio4/Trenes/nbproject/private/