# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\edubi\Documents\Practicas lenguajes\G50\Eduardo Binns\Practica #2\Ejercicio #1 Punteros Genericos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
