# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Daniel\Documents\Archivos\Semestre IV\Lenguajes de programacion\PL_Exs\G50\dani0105\laboratorio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
